@media all and (max-width: 1000px) {
    .lessons {
        display: flex;
        justify-content: center;
        flex-direction: wrap;
        
        
      }
    
      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        margin: 20px;
    
      }

  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .lessons {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 86%;
   
   
  }

      
}

